
    <header id="tg-header" class="tg-header tg-haslayout">
        <div class="tg-topbar">
            <div class="tg-leftbox">
                <span id="tg-datebox" class="tg-datebox"></span>
                
            </div>
            <div class="tg-rightbox">
                <span class="tg-tollfree">Email: tamilaaivuchudar@gmail.com</span>
                
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-9">
                        <div class="tg-logoandnoticeboard">
                            <strong class="tg-logo">
                                <a href="#" class="pull-left">
                                    <img src="../assets/Areas/tamil/Content/img/logo.png" alt="Aaivuchudar" style="width: 110px;height: 100px;margin-top:-25px;" />
                                </a>
                            </strong>
                            <div>
                                <h4 style="margin-top: -10px;color:deeppink;">ஆய்வுச்சுடா் : பன்னாட்டு பன்முகத்தமிழ் மின்-ஆய்விதழ்</h4>
                                <div>
                                    <h5><span style="color:#0000ff;">Aaivuchudar an International Multidisciplinary Tamil Research Journal</span></h5><h5><span style="color:#0000ff;">Ayya Nadar Janaki Ammal College(Autonomous), Sivakasi, Tamilnadu, India.</span></h5>
                                </div>
                                <a href="#" class="pull-right">
                                    <img src="../assets/lvfiles.blob.core.windows.net/67-static/photos/logo/thump/logoe49d.png?v=1512003844631" alt="Aaivuchudar" style="width: 110px;height: 100px;margin-top: -160px;">                                        
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="margin-top: 15px;">
                        <div class="tg-noticeboard hidden-xs">
                            <div class="tg-textbox">
                                <span>Online ISSN No : 2581-5938</span>
                                <span>Publication    : Bi-annual</span>
                                <span>Bilingual ( Tamil/English )</span>
                                <span style="font-weight:bold;color:red;">Tamil E-Research Journal</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="tg-navigationarea" style="margin-top: -30px;">
                    <nav id="tg-nav" class="tg-nav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                            <ul>
                                        <li>
                                                <a routerLink="/about-as" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Home</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="javascript:void(0);">Felicitation and Review</a>
                                            <ul class="sub-menu">
                                                        <li>
                                                                <a routerLink="Correspondent">Correspondent</a>
                                                        </li>
                                                        <li>
                                                                <a routerLink="Principal">Principal</a>
                                                        </li>
                                                        <li>
                                                                <a routerLink="Director">Director, IITS</a>
                                                        </li>
                                                        <li>
                                                                <a routerLink="../assets/lvfiles.blob.core.windows.net/67-static/Journal_Dec_2018/Pdf/Anithurai.pdf" target="_blank">Articles Review</a>
                                                        </li>
                                            </ul>
                                        </li>
                                        <li>
                                                <a href="../assets/lvfiles.blob.core.windows.net/67-static/Editorials/Editorial_board_voice_2019_january.pdf" target="_blank">Editorial Board</a>
                                        </li>
                                        <li>
                                                <a href="../assets/lvfiles.blob.core.windows.net/67-static/Editorials/Editor_voice_2019_january.pdf" target="_blank">Editor Voice</a>
                                        </li>
                                        <li>
                                                <a routerLink="Articles" >Articles</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="javascript:void(0);">Submission</a>
                                            <ul class="sub-menu">
                                                        <li class="menu-item-has-children">
                                                            <a href="javascript:void(0);">Rules &amp; Regulations</a>
                                                            <ul class="sub-menu">
                                                                    <li>
                                                                            <a href="../assets/lvfiles.blob.core.windows.net/67-static/article%20rules%20-tamil.pdf" target="_blank">In Tamil</a>
                                                                    </li>
                                                                    <li>
                                                                            <a href="../assets/lvfiles.blob.core.windows.net/67-static/Article%20rules-english.pdf" target="_blank">In English</a>
                                                                    </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                                <a href="../assets/lvfiles.blob.core.windows.net/67-static/Copyright%20Agreement%20and%20Authorship%20Responsibility.pdf" target="_blank">Copy-right Agreement</a>
                                                        </li>
                                                        <li>
                                                            <a routerLink="ArticleSubmission">Article Submission</a>
                                                        </li>
                                                        <li>
                                                                <a routerLink="Contact">Contact</a>
                                                        </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a routerLink="BackVolumes">Back Volumes</a>
                                        </li>
                            </ul>
                        </div>
                    </nav>
                    
                </div>
            </div>
        </div>
    </header>
  