 <!--************************************
                    Footer Start
            *************************************-->
            <footer id="tg-footer" class="tg-footer tg-haslayout">

                <div class="tg-signupbox">
                    <div class="container">
                        <div class="tg-signuptextbox">
                        </div>
                        <form class="tg-formtheme tg-formsignupfree"></form>
                    </div>
                </div>
    
    
                <div class="tg-footermiddlebar">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="tg-widget tg-widgettweets">
                                    <div class="tg-widgettitle">
                                        <h3>Sitemap</h3>
                                    </div>
                                    <div class="tg-widgetcontent">
                                        <iframe style="width:100%;height:250px;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/?ie=UTF8&amp;ll=9.4730215,77.7498648&amp;spn=0.815042,1.352692&amp;t=m&amp;z=15&amp;output=embed"></iframe>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="tg-widget tg-widgetcompanyinfo">
                                    <div class="tg-widgettitle">
                                        <h3>Contact Us</h3>
                                    </div>
                                    <div class="tg-widgetcontent">
                                        <ul class="tg-infolist">
                                            <li>
                                                <i class="fa fa-location-arrow"></i>
                                                <address>Ayya Nadar Janaki Ammal College,Tamil Department,Sivakasi - 626124.</address>
                                            </li>
                                            <li>
                                                <i class="fa fa-phone"></i>
                                                <span>9585601149</span>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-envelope-o"></i>
                                                    <span>tamilaaivuchudar@gmail.com</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="tg-socialicons">
                                                <li class="tg-facebook"><a href="https://www.facebook.com/pages/Ayya-Nadar-Janaki-Ammal-College/222497537829750" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li class="tg-googleplus"><a href="https://plus.google.com/117553550860452778612/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="tg-widget tg-widgetcoursecategories">
                                    <div class="tg-widgettitle">
                                        <h3>Give Us Feedback</h3>
                                    </div>
                                    <div class="tg-widgetcontent">
                                        <form role="form" style="margin:10px;" id="feedbackform">
                                            <div class="form-group">
                                                <div style="color:white">Email</div>
                                                <input type="email" name="email" class="form-control email required" placeholder="Enter your email address" data-bind="value:Title" />
                                            </div>
                                            <div class="form-group">
                                                <div style="color:white">Feedback</div>
                                                <textarea class="form-control required" name="message" placeholder="Enter your feedback" data-bind="value:Message"></textarea>
                                            </div>
    
                                            <input type="submit" style="color:blue;" class="btn" value="Submit" data-bind="click:$root.SaveMessage" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="tg-footerbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <span class="tg-copyright">Copyright &copy; 2019 All Rights Reserved</span>
                                <nav class="tg-addnav">
                                    <span>Developed and Maintained by <a href="http://www.cooldreamers.com/" target="_blank">Cool Dreamers</a></span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!--************************************
                    Footer End
            *************************************-->
        
    