<section class="tg-sectionspace tg-haslayout">
    <div class="row">
        <div class="col-sm-12">
            <div class="tg-borderheading">
                <h2>Back Volumes</h2>
            </div>
            
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-scrollable">
                        <thead>
                            <tr>
                                <th style="width:40px;">S.No</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td style="text-align:left;">Aaivuchudar - Volume 1, Issue 1 - January 2018</td>
                                <td style="text-align:left;">Aaivuchudar - Volume 1, Issue 1 - January 2018</td>
                                <td style="text-align:center;">
                                    <a  class="btn btn-primary"   routerLink="/Volume1" >
                                    <i class="fa fa-search"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="text-align:left;">Aaivuchudar - Volume 1, Issue 2 - December 2018</td>
                                <td style="text-align:left;">Aaivuchudar - Volume 1, Issue 2 - December 2018</td>
                                <td style="text-align:center;">
                                        <a  class="btn btn-primary"  routerLink="/Volume1Issue2">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td style="text-align:left;">Aaivuchudar - Volume 2, Issue 1 - January 2019</td>
                                <td style="text-align:left;">Aaivuchudar - Volume 2, Issue 1 - January 2019</td>
                                <td style="text-align:center;">
                                    <a  class="btn btn-primary"    routerLink='/Volume2'>
                                        <i class="fa fa-search"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <h4>Give us Feedback about the Articles to : </h4>
                    <p style="font-weight:bold;color:blue;">tamilaaivuchudar@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>