<section class="tg-sectionspace tg-haslayout">
    <div class="row">
        <div class="col-sm-12">
            <div class="tg-borderheading">
                <h2>Back Volumes</h2>
            </div>
            <div class="tg-events">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            
                            <img src="https://lvfiles.blob.core.windows.net/67-static/Issue-Photos/issue-1.jpg" style="width:300px;height:350px;" />
                            <div style="text-align: center;">
                                <span style="font-weight:bold;color:blue;margin-left: -400px;">ISSN No : 2581-5938</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <hr />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span style="color:deeppink;font-weight:bold;"><p>திருத்தங்கல் நகரில் நவகண்டச் சிற்பம்</p><p><strong><span style="color:#0000ff;">Abstract in English :&nbsp;NAVAKANDAM SCULPTURE AT THIRUTHANGAL</span></strong></p></span><br />
                                <span style="color:royalblue;">த. இரத்னமாலா</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/05a8fb5b-2471-471c-a845-a7b4ee4248f7" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;">குறுந்தொகையில் ஓரெழுத்து ஒருமொழி</span><br />
                                <span style="color:royalblue;">நா.  சுலோசனா</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/cd1e02d8-9e89-4fcc-8a11-278318dcb1d7" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;">தமிழ் - நாடகஅரங்கும் பெண்ணிய அணுகு முறையும்</span><br />
                                <span style="color:royalblue;">ச.  பிரியதர்சினி</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/bfd15b9a-3d7c-455b-8add-fc2b45e3cdb9" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;">தமிழ்,மலையாளம்&ndash;இருமொழி அகராதி உருவாக்கம் சிக்கல்களும் தீர்வுகளும்</span><br />
                                <span style="color:royalblue;">ப. ஜெயகிருஷ்ணன்</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/825025ca-b01c-44c2-a949-4c95413e3004" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;">ஜென் என்னும் வாழ்வியல் கலை</span><br />
                                <span style="color:royalblue;">கவிதா இராமச்சந்திரன்</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/db1838e8-2633-4236-9a55-e2ce80df1990" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;">நெசவாளர் தொழில்முறையும் கலைச்சொற்களும்</span><br />
                                <span style="color:royalblue;">மு. ரவி,  ப. கணேஷ்வரி</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/4e64eb89-dba9-4249-9974-012b0cabc981" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;">பாவலரேறு ச. பாலசுந்தரனாரின் தமிழியல் பணிகள்</span><br />
                                <span style="color:royalblue;">ந.  பிரகாஷ்</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/e7aeac9a-7990-4d13-8298-fd42ba8a6d07" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;"><p>தமிழ், இந்திச் சிறுகதைகளில் பெண் தொழிலாளர்களின் நிலை</p><p><span style="box-sizing:border-box;margin:0px;padding:0px;color:#0000ff;">Abstract in English :&nbsp;</span><span style="color:#0000ff;">PORTRAYAL OF WOMEN WORKERS IN
TAMIL AND HINDI SHORT STORIES</span></p></span><br />
                                <span style="color:royalblue;">இரா.  விஜயலஷ்மி</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/c98764bc-01e9-45c1-9d0f-39ef0d536af5" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;"><p>தொன்மப் பாத்திரங்களும் இன்றைய உறுப்பு மாற்று அறுவை சிகிச்சையும்</p><p><span style="box-sizing:border-box;margin:0px;padding:0px;color:#0000ff;">Abstract in English :&nbsp;</span><span style="color:#0000ff;">MYTHOLOGICAL CHARACTERS AND
ORGAN TRANSPLANT SURGERY</span></p></span><br />
                                <span style="color:royalblue;">சி.ஜோதிலிங்கம்</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/0e2cd67b-5141-45cb-aaee-fe91ac7d4046" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;"><p>FERMENTATION PROCESS OF LIQUID FOOD IN SANGAM LITERATURE</p><p><span style="color:#0000ff;">Abstract in Tamil :&nbsp;நொதித்தல் முறையில் சங்க இலக்கிய நீா்ம உணவுப் பொருட்கள்</span></p></span><br />
                                <span style="color:royalblue;">V. Mahalakshmi</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/e8fdaa2d-ab32-4640-8ca5-4a0183d36af7" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;"><p>சங்ககாலக் காவலும் இக்காலக் காவலும்</p><p><span style="color:#0000ff;">Abstract in English :&nbsp;DEFENCE IN SANGAM AGE AND CONTEMPORARY ERA &ndash; A COMPARATIVE PERSPECTIVE</span></p></span><br />
                                <span style="color:royalblue;">சா. ஜெ. ஜான்கென்னடி</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/6e299a69-e7cd-44fa-85fe-ba21c80c66c2" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;"><p>சங்கப் பாடல்களில் வெளவாலும் அறிவியல் உண்மையும்</p><p><span style="box-sizing:border-box;margin:0px;padding:0px;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-size:13px;font-weight:700;background-color:#ffffff;color:#0000ff;">Abstract in English :&nbsp;</span><span style="color:#0000ff;">SCIENTIFIC FACTS ABOUT BATS IN SANGAM POETRY OF TAMIL&nbsp;</span></p></span><br />
                                <span style="color:royalblue;">த.செல்வரத்தினம், சுப.சேவற்கொடியோன்</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/d17c8dcf-6d52-4d19-9ed8-d0f56db46247" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;">உளவியல் நோக்கில் தி.ஜானகிராமனின் அன்பே ஆரமுதே புதினம்</span><br />
                                <span style="color:royalblue;">க. சிவனேசன்</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/f97db0cf-3660-4069-9248-eb1385ffef06" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;">ROADMAP FOR COMPUTING IN TAMIL</span><br />
                                <span style="color:royalblue;">P. Tamizh Chelvi</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/e1d90be2-a6e2-425c-a4d1-4d57b9ae27e0" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;">யானை மொழி-கள ஆய்வு</span><br />
                                <span style="color:royalblue;">சு. மகேஷ்பாண்டி, இரா. விஜயபிரியா</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/39b8317d-b0c3-4355-a3d6-23cea5d274e9" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />
                                <span style="color:deeppink;font-weight:bold;"><p>சிவகாசி ஓலைச்சுவடிச் செய்திகள்</p><p><span style="box-sizing:border-box;margin:0px;padding:0px;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-size:13px;font-weight:700;background-color:#ffffff;color:#0000ff;">Abstract in English :&nbsp;</span><span style="color:#0000ff;">PALM LEAF MANUSCRIPTS &ndash; SIVAKASI</span></p></span><br />
                                <span style="color:royalblue;">ந. அருள்மொழி</span><br />
                                <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/945718fc-8603-4567-a19d-3799ab8cc5e1" target="_blank">
                                    <br />
                                    <span>View <span class="fa fa-hand-o-left"></span></span>
                                </a>
                                <hr />


                        <h4>Give us Feedback about the Articles to : </h4>
                        <p style="font-weight:bold;color:blue;">tamilaaivuchudar@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>