<section class="tg-sectionspace tg-haslayout">
    <div class="row">
        <div class="col-sm-12">
            <div class="tg-borderheading">
                <h2>Contact</h2>
            </div>
            <div class="tg-events">
                <p style="text-align:justify;"><strong>Email : tamilaaivuchudar@gmail.com</strong></p>
            </div>
        </div>
    </div>
</section>