<main id="tg-main" class="tg-main tg-haslayout">
        <div class="container">
            <section class="tg-sectionspace tg-haslayout">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tg-borderheading">
                            <h2>Correspondent</h2>
                        </div>
                        <div class="tg-events">
                            <p style="text-align:justify;"><img class="img-responsive" height="750" src="https://lvfiles.blob.core.windows.net/67-static/corres-greetings.jpg" width="700" /></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>