<section class="tg-sectionspace tg-haslayout">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tg-borderheading">
                            <h2>Articles</h2>
                        </div>
                        <div class="tg-events">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4"></div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        
                                            <img src="https://lvfiles.blob.core.windows.net/67-static/Issue-Photos/%E0%AE%86%E0%AE%AF%E0%AF%8D%E0%AE%B5%E0%AF%81%E0%AE%9A%E0%AF%8D%E0%AE%9A%E0%AF%81%E0%AE%9F%E0%AE%B0%E0%AF%8D%203_Wrapper%20(1).jpg" style="width:335px;height:474px;" />
                                        <div style="text-align: center;">
                                            <span style="font-weight:bold;color:blue;margin-left: -400px;">ISSN No : 2581-5938</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <span style="color:deeppink;font-weight:bold;"><p><span class="fontstyle0"></span><strong>மரபுவழி நெல்லை மீட்டெடுத்த மாமனிதர் &lsquo;நெல் ஜெயராமன்&rsquo;</strong></p><p><span class="fontstyle0"><strong>Abstract in English</strong> : THE GREAT MAN WHO REVIVED AND PRESERVED TRADITIONAL PADDY VARIETIES</span></p></span><br />
                                            <span style="color:royalblue;">பொ.நா. கமலா</span><br />
                                            <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/364ce556-7446-4566-bc95-4ecc96bb601b" target="_blank">
                                                <br />
                                                <span>View <span class="fa fa-hand-o-left"></span></span>
                                            </a>
                                            <hr />
                                            <span style="color:deeppink;font-weight:bold;"><p><span class="fontstyle0"></span><span lang="TA" style="font-size:11.0pt;line-height:115%;font-family:'Latha',sans-serif;">பண்டைத் தமிழ் வேளாளரில் இருவகையினர்</span></p><p><span class="fontstyle0"><strong>Abstract in English</strong> : TWO GROUPS OF ANCIENT TAMIL VELALARS</span></p></span><br />
                                            <span style="color:royalblue;">ச. கண்மணி கணேசன்</span><br />
                                            <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/61a1ccf3-df30-4078-9c96-50e454322bf8" target="_blank">
                                                <br />
                                                <span>View <span class="fa fa-hand-o-left"></span></span>
                                            </a>
                                            <hr />
                                            <span style="color:deeppink;font-weight:bold;"><p><span class="fontstyle0"></span><span lang="TA" style="font-size:11.0pt;line-height:115%;font-family:'Latha',sans-serif;">சங்க இலக்கியத்தில் குழந்தைக்குச் சோறூட்டும் பழக்கம்</span></p><p><span class="fontstyle0"><strong>Abstract in English</strong> : MOTHERS FEEDING YOUNG CHILDREN IN SANGAM LITERATURE</span></p></span><br />
                                            <span style="color:royalblue;">வைதேகி ஹெர்பர்ட்</span><br />
                                            <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/06471111-fa43-4dc3-b8d7-9e8dc0cea6e5" target="_blank">
                                                <br />
                                                <span>View <span class="fa fa-hand-o-left"></span></span>
                                            </a>
                                            <hr />
                                            <span style="color:deeppink;font-weight:bold;"><p><span class="fontstyle0"></span><span lang="TA" style="font-size:11.0pt;line-height:115%;font-family:'Latha',sans-serif;">திரைப்படங்களுக்கான பிறமொழி மொழிபெயர்ப்பு</span></p><p><span class="fontstyle0">A CALL FOR RESEARCH ON FILM SUBTITLING</span></p></span><br />
                                            <span style="color:royalblue;">ராஃப் ரூமி</span><br />
                                            <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/93425fac-638c-40cb-a0da-87ecb101c73f" target="_blank">
                                                <br />
                                                <span>View <span class="fa fa-hand-o-left"></span></span>
                                            </a>
                                            <hr />
                                            <span style="color:deeppink;font-weight:bold;"><p><span class="fontstyle0"><span style="font-family:Latha, sans-serif;">பூதப்பாண்டிக் கல்வெட்டில் இடப் பெயர்வுச் செய்தியும்&nbsp;</span><span style="font-family:Latha, sans-serif;">காது அறுத்த பிழையும்</span></span></p><p><strong>Abstract in English</strong> :&nbsp;<span class="fontstyle0">DETAILS OF MIGRATION AND THE INCISION OF EAR IN BOOTHAPANDI EPIGRAPH</span></p></span><br />
                                            <span style="color:royalblue;">S. Siva</span><br />
                                            <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/1db33cd6-b37c-47de-882d-525b13a62a77" target="_blank">
                                                <br />
                                                <span>View <span class="fa fa-hand-o-left"></span></span>
                                            </a>
                                            <hr />
                                            <span style="color:deeppink;font-weight:bold;"><p><span class="fontstyle0"></span><span lang="TA" style="font-size:11.0pt;line-height:115%;font-family:'Latha',sans-serif;">ஆவணங்களில் இராமர் பாலம்</span></p><p><strong>Abstract in English</strong> :&nbsp;<span class="fontstyle0">RAMAR BRIDGE : A HISTORICAL OVERVIEW</span></p></span><br />
                                            <span style="color:royalblue;">த. ஆதித்தன்</span><br />
                                            <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/32d9a8f6-9cd2-4d6e-ac76-f99543c1e8f0" target="_blank">
                                                <br />
                                                <span>View <span class="fa fa-hand-o-left"></span></span>
                                            </a>
                                            <hr />
                                            <span style="color:deeppink;font-weight:bold;"><p><span class="fontstyle0"></span><span lang="TA" style="font-size:11.0pt;line-height:115%;font-family:'Latha',sans-serif;">கல்வெட்டுகளில் வேளாண் செய்திகள்</span></p><p><strong>Abstract in English</strong> :&nbsp;<span class="fontstyle0">INSCRIPTION ON AGRICULTURE IN EPIGRAPHS</span></p></span><br />
                                            <span style="color:royalblue;">பா. அருள்மனோகரி</span><br />
                                            <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/ebaa6feb-1725-4533-89e5-4c0171425eab" target="_blank">
                                                <br />
                                                <span>View <span class="fa fa-hand-o-left"></span></span>
                                            </a>
                                            <hr />
                                            <span style="color:deeppink;font-weight:bold;"><p><span class="fontstyle0"></span><span lang="TA" style="font-size:11.0pt;line-height:115%;font-family:'Latha',sans-serif;">இந்தி மொழி கவிஞர்கள் மீராபாய் மற்றும் கபீர்தாஸ் ஆகியோரின் வாழ்வியலும் படைப்பியல்பும் - சிறு ஒப்பீடு</span></p><p><strong>Abstract in English</strong> :&nbsp;<span class="fontstyle0">MEERA BAI AND KABIR DAS : A BRIEF COMPARATIVE STUDY OF THEIR LIFE AND CONTRIBUTION TO BAKTHI LITERATURE</span></p></span><br />
                                            <span style="color:royalblue;">இரா. இராம்பிரசாத்</span><br />
                                            <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/ae3d038f-2f47-4a62-91f6-fceb7d6e1528" target="_blank">
                                                <br />
                                                <span>View <span class="fa fa-hand-o-left"></span></span>
                                            </a>
                                            <hr />
                                            <span style="color:deeppink;font-weight:bold;"><p><span class="fontstyle0"><span lang="TA" style="font-family:Latha, sans-serif;">சங்க இலக்கியங்களில் சிட்டுக்குருவியும்&nbsp;</span><span style="font-family:Latha, sans-serif;">சிட்டுக்குருவியின் இன்றைய நிலையும்</span></span></p><p><strong>Abstract in English</strong> :&nbsp;<span class="fontstyle0">HOUSE SPARROW IN SANGAM LITERATURE</span></p></span><br />
                                            <span style="color:royalblue;">S. Balaji</span><br />
                                            <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/1564cbd8-168a-44f5-b51e-ad93789d4202" target="_blank">
                                                <br />
                                                <span>View <span class="fa fa-hand-o-left"></span></span>
                                            </a>
                                            <hr />
                                            <span style="color:deeppink;font-weight:bold;"><p><span class="fontstyle0"></span><span lang="TA" style="line-height:115%;font-family:Latha, sans-serif;">திடநிலை இயற்பியல் நோக்கில் கோயில் கட்டுமானங்கள்</span></p><p><strong>Abstract in English</strong> :&nbsp;<span class="fontstyle0">TEMPLE ARCHITECTURE IN VIEW OF SOLID STATE PHYSICS</span></p></span><br />
                                            <span style="color:royalblue;">N. Arulmozhi, S. Jeya</span><br />
                                            <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/1f90127a-8b05-4e01-9997-d9806931e4b0" target="_blank">
                                                <br />
                                                <span>View <span class="fa fa-hand-o-left"></span></span>
                                            </a>
                                            <hr />
                                            <span style="color:deeppink;font-weight:bold;"><span lang="TA" style="font-size:11.0pt;line-height:115%;font-family:'Latha',sans-serif;">பிரபஞ்சகானம்</span></span><br />
                                            <span style="color:royalblue;">இரா. நரேந்திர குமார்</span><br />
                                            <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/08af86d5-232f-4c33-aebe-325b3a349bff" target="_blank">
                                                <br />
                                                <span>View <span class="fa fa-hand-o-left"></span></span>
                                            </a>
                                            <hr />


                                    <h4>Give us Feedback about the Articles to : </h4>
                                    <p style="font-weight:bold;color:blue;">tamilaaivuchudar@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section>