<!--************************************
                Home Slider Start
*************************************-->
        <div class="clearfix"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-homebannervtwo">
                        <div id="tg-homeslider" class="tg-homeslider owl-carousel tg-btnround tg-haslayout">

                                    <div class="item">
                                        <figure>
                                            <img src="../assets/lvfiles.blob.core.windows.net/67-static/photos/slide/raw/72fccb4f-a092-4ba8-afd9-792cdd23e217.jpg" alt="image description">
                                            <figcaption class="tg-slidercontent">
                                                <div class="tg-slidercontentbox">
                                                    
                                                    <div class="tg-titledescription">
                                                        <h1></h1>
                                                        <div class="tg-description"><p></p></div>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="item">
                                        <figure>
                                            <img src="../assets/lvfiles.blob.core.windows.net/67-static/photos/slide/raw/e55fcf46-59e3-4674-9734-999e2405d330.jpg" alt="image description">
                                            <figcaption class="tg-slidercontent">
                                                <div class="tg-slidercontentbox">
                                                    
                                                    <div class="tg-titledescription">
                                                        <h1></h1>
                                                        <div class="tg-description"><p></p></div>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="item">
                                        <figure>
                                            <img src="../assets/lvfiles.blob.core.windows.net/67-static/photos/slide/raw/4166b7a4-3d85-4f8b-8d41-b7346df43550.jpg" alt="image description">
                                            <figcaption class="tg-slidercontent">
                                                <div class="tg-slidercontentbox">
                                                    
                                                    <div class="tg-titledescription">
                                                        <h1></h1>
                                                        <div class="tg-description"><p></p></div>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="item">
                                        <figure>
                                            <img src="../assets/lvfiles.blob.core.windows.net/67-static/photos/slide/raw/49dd147b-0e0c-4a60-9d54-623d418e8bb9.jpg" alt="image description">
                                            <figcaption class="tg-slidercontent">
                                                <div class="tg-slidercontentbox">
                                                    
                                                    <div class="tg-titledescription">
                                                        <h1></h1>
                                                        <div class="tg-description"><p></p></div>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="item">
                                        <figure>
                                            <img src="../assets/lvfiles.blob.core.windows.net/67-static/photos/slide/raw/1d80559a-3f6c-4771-ba96-9b503c2e8211.jpg" alt="image description">
                                            <figcaption class="tg-slidercontent">
                                                <div class="tg-slidercontentbox">
                                                    
                                                    <div class="tg-titledescription">
                                                        <h1></h1>
                                                        <div class="tg-description"><p></p></div>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                        </div>

                        <div class="tg-noticeboardarea">
                            


                            <div class="tg-widget tg-widgetadmissionform">
                                <div class="tg-widgetcontent" style="height:414px !important;">
                                    <h3>Current Issue</h3>
                                    

                                        <h5>
                                            <u>
                                                <a style="color:white;" href="https://www.anjaconline.org/" target="_blank">ANJA College</a>
                                            </u>
                                        </h5>
                                        <p>ANJA College</p>
                                                    <hr />

                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
        <!--************************************
                Home Slider End
        *************************************-->
        <div>
