<div class="row">
        <div class="col-sm-12">
            <section class="tg-sectionspace tg-haslayout">
                <div class="row">
                    <div class="tg-borderheading">
                        
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <div class="tg-events">
                            <p style="font-weight:bold;">
                                சென்றிடுவீா் எட்டுத் திக்கும் – கலைச்<br />
                                செல்வங்கள் யாவும் கொணா்ந்திங்கு  சோ்ப்பீா்!
                            </p>
                            <p style="text-align:justify;font-weight:bold;margin-left: 217px;color:blue;">-மகாகவி பாரதியார்</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <section class="tg-sectionspace tg-haslayout">

                <div class="col-sm-8">
                    <div class="row">
                        <div class="tg-borderheading">
                            <h2>About Us</h2>
                        </div>
                        <div class="tg-events">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    
                                        <span style="font-weight:bold;color:blue;">ISSN No : 2581-5938</span>
                                    
                                        <img src="https://lvfiles.blob.core.windows.net/67-static/Issue-Photos/%E0%AE%86%E0%AE%AF%E0%AF%8D%E0%AE%B5%E0%AF%81%E0%AE%9A%E0%AF%8D%E0%AE%9A%E0%AF%81%E0%AE%9F%E0%AE%B0%E0%AF%8D%203_Wrapper%20(1).jpg" style="width:335px;height:474px;" />
                                </div>
                                <div class="col-sm-6">
                                    <br /><br /><br />
                                    <p style="text-align:justify;">
                                        மின்-ஆய்விதழ் “ஆய்வுச்சுடா்” பல்துறைசார் தமிழ்ச்சிந்தனைகளுக்குக் களம்
                                        அமைக்கும் நோக்கோடு மலா்ந்துள்ளது. தைத்திங்கள் (சனவரி),
                                        வைகாசித்திங்கள் (சூன்) என ஆண்டிற்கு இருமுறை இருமொழி
                                        (தமிழ் மற்றும் ஆங்கிலம்) இதழாக மலரும்.
                                    </p>
                                    <p style="text-align:justify;">Aaivuchudar e-journal provides a platform to various departments to associate their subjective ideas relevant to Tamil literature.  This is a bi-annual journal to be blossomed in the month of January and June every year.</p>
                                </div>
                            </div>
                        </div>
                    </div><br /><br />
                    <div class="row">
                        <div style="font-weight:bold;">

                            <span><u>Publisher Details:</u></span>

                            <div class="table table-scrollable">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td>N. ARULMOZHI</td>
                                        </tr>
                                        <tr>
                                            <td>Designation</td>
                                            <td>ASSISTANT PROFESSOR</td>
                                        </tr>
                                        <tr>
                                            <td>Department</td>
                                            <td>DEPARTMENT OF TAMIL</td>
                                        </tr>
                                        <tr>
                                            <td>College</td>
                                            <td>
                                                AYYA NADAR JANAKI AMMAL COLLEGE
                                                (AUTONOMOUS), SIVAKASI – 626 124,TAMILNADU, INDIA.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Email ID</td>
                                            <td>arulmozhi_ts17@anjaconline.org</td>
                                        </tr>
                                        <tr>
                                            <td>Mobile No</td>
                                            <td>+91 95856 01149</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="tg-widget tg-widgetquicklinks">
                        <div class="tg-borderheading">
                            <h2>Quick Links</h2>
                        </div>
                        <div>
                            <ul>
                                        <li>
                                                <a href="https://lvfiles.blob.core.windows.net/67-static/Editorials/Editorial_board_voice_2019_january.pdf">Editorial Board</a>
                                        </li>
                                        <li>
                                                <a href="https://lvfiles.blob.core.windows.net/67-static/Editorials/Editor_voice_2019_january.pdf">Editor Voice</a>
                                        </li>
                                        <li>
                                                <a href="https://lvfiles.blob.core.windows.net/67-static/Copyright%20Agreement%20and%20Authorship%20Responsibility.pdf">Copy-right Agreement</a>
                                        </li>
                                        <li>
                                                <a href="/pages/ArticleSubmission1517766756077">Article Submission</a>
                                        </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>

    

    <div class="row">
        <div class="col-sm-12">
            <section class="tg-sectionspace tg-haslayout">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </section>
        </div>
    </div>

