<section class="tg-sectionspace tg-haslayout">
    <div class="row">
        <div class="col-sm-12">
            <div class="tg-borderheading">
                <h2>Article Submission</h2>
            </div>
            <div class="tg-events">
                <p style="text-align:justify;">Submit to : <strong><span style="color:#0000ff;">tamilaaivuchudar@gmail.com</span></strong></p>
            </div>
        </div>
    </div>
</section>