<div id="page-content">
        <main id="tg-main" class="tg-main tg-haslayout">
            <div class="container">
                
                            <router-outlet></router-outlet>
            </div>
        </main>
    </div>
    
    