<section class="tg-sectionspace tg-haslayout">
        <div class="row">
            <div class="col-sm-12">
                <div class="tg-borderheading">
                    <h2>Back Volumes</h2>
                </div>
                <div class="tg-events">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-4"></div>
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                
                                <img src="https://lvfiles.blob.core.windows.net/67-static/Issue-Photos/issue-2.jpg" style="width:300px;height:350px;" />
                                <div style="text-align: center;">
                                    <span style="font-weight:bold;color:blue;margin-left: -400px;">ISSN No : 2581-5938</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <span style="color:deeppink;font-weight:bold;"><p>அறிவியல் நோக்கில் நிலவு</p><p><strong><span style="color:#0000ff;">Abstract in English :&nbsp;</span></strong><strong><span style="color:#0000ff;">SCIENTIFIC PRINCIPLES ABOUT MOON</span></strong></p></span><br />
                                    <span style="color:royalblue;">நெல்லை சு. முத்து</span><br />
                                    <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/fac4f722-f7da-4bb6-a17a-b6a7d1a9b13f" target="_blank">
                                        <br />
                                        <span>View <span class="fa fa-hand-o-left"></span></span>
                                    </a>
                                    <hr />
                                    <span style="color:deeppink;font-weight:bold;"><p>சந்தமெட்டாறு &ndash; சந்தத்தமிழில் ஒரு புதுவகை இலக்கியம்</p><p><strong><span style="color:#0000ff;">Abstract in English : SANTHAMETTARU (SONNET) IN TAMIL LITERATURE</span></strong></p></span><br />
                                    <span style="color:royalblue;">ச. உதயகுமார்</span><br />
                                    <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/9467603d-e513-4bcd-b56b-d13eed1e9a6b" target="_blank">
                                        <br />
                                        <span>View <span class="fa fa-hand-o-left"></span></span>
                                    </a>
                                    <hr />
                                    <span style="color:deeppink;font-weight:bold;"><p>கி.பி. 14 ஆம் நூற்றாண்டுச் சம்புவராயர்கள் காலத்தைய நீர்நிலைக் கல்வெட்டு &ndash; கண்டுபிடிப்பு</p><p><strong><span style="color:#0000ff;">Abstract in English : DISCOVERY OF SAMBOORVARAYAR PERIOD INSCRIPTION RELATED TO WATER BODY</span></strong></p></span><br />
                                    <span style="color:royalblue;">அ. சதீஷ்</span><br />
                                    <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/2d04a030-fa3d-4352-8442-4ac367286f27" target="_blank">
                                        <br />
                                        <span>View <span class="fa fa-hand-o-left"></span></span>
                                    </a>
                                    <hr />
                                    <span style="color:deeppink;font-weight:bold;"><p>கி.ரா. சிறுகதையில் தமிழ் மருத்துவமுறை</p><p><strong><span style="color:#0000ff;">Abstract in English : TAMIL MEDICAL PRACTICES IN&nbsp; Ki. Ra.&rsquo;s SHORT-STORY</span></strong></p></span><br />
                                    <span style="color:royalblue;">ம. பிரசன்னா</span><br />
                                    <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/ed991d46-1c1b-4db6-8820-f164cf6c21aa" target="_blank">
                                        <br />
                                        <span>View <span class="fa fa-hand-o-left"></span></span>
                                    </a>
                                    <hr />
                                    <span style="color:deeppink;font-weight:bold;"><p>பெண் கருத்தியல்பில் சூழல் பெண்ணியம்</p><p><strong><span style="color:#0000ff;">Abstract in English : ECOFEMINISM</span></strong></p></span><br />
                                    <span style="color:royalblue;">மா. பத்ம பிரியா</span><br />
                                    <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/639ad392-649b-4202-91bd-4aabca44cbea" target="_blank">
                                        <br />
                                        <span>View <span class="fa fa-hand-o-left"></span></span>
                                    </a>
                                    <hr />
                                    <span style="color:deeppink;font-weight:bold;"><p>மோடி ஆவண வழக்குச் சொற்கள்</p><p><strong><span style="color:#0000ff;">Abstract in English : MODI FONT/SCRIPT</span></strong></p></span><br />
                                    <span style="color:royalblue;">த. ஆதித்தன்</span><br />
                                    <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/e1e64dcd-288f-4c2b-ac9d-13ec5d74253d" target="_blank">
                                        <br />
                                        <span>View <span class="fa fa-hand-o-left"></span></span>
                                    </a>
                                    <hr />
                                    <span style="color:deeppink;font-weight:bold;"><p>வேதியப் பின்புலத்தில் சங்க மாந்தர் அணிந்த அணிகலன்கள்</p><strong><span style="color:#0000ff;">Abstract in English : ORNAMENTS WORN BY PEOPLE OF SANGAM AGE RELATED TO CHEMICAL PROPERTIES</span></strong></span><br />
                                    <span style="color:royalblue;">ச. செந்தில்குமார்</span><br />
                                    <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/00536586-efb3-490e-862d-e4381ff2ade8" target="_blank">
                                        <br />
                                        <span>View <span class="fa fa-hand-o-left"></span></span>
                                    </a>
                                    <hr />
                                    <span style="color:deeppink;font-weight:bold;"><p>சங்க இலக்கியங்களில் விலங்குகளுக்கிடையேயான தகவல் தொடர்புப் பரிமாற்ற முறைகள்</p><strong><span style="color:#0000ff;">Abstract in English : ANIMALS COMMUNICATION IN SANGAM LITERATURE</span></strong></span><br />
                                    <span style="color:royalblue;">பொ. பொன்மாணிக்கம்*, ச. முனியசாமி</span><br />
                                    <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/909fb754-296c-4d60-8855-9d9d803faa6d" target="_blank">
                                        <br />
                                        <span>View <span class="fa fa-hand-o-left"></span></span>
                                    </a>
                                    <hr />
                                    <span style="color:deeppink;font-weight:bold;"><p>டேனியல் கோல்மெனின் உணர்வுசார் நுண்ணறிவுக் கோட்பாட்டு நோக்கில் திருக்குறள்&nbsp;</p><strong><span style="color:#0000ff;">Abstract in English : EMOTIONAL INTELLIGENCE IN THIRUKKURAL</span></strong></span><br />
                                    <span style="color:royalblue;">சந்திரிகா சுப்ரமண்யன்</span><br />
                                    <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/c1caf2f6-f8fe-4660-9bd3-226ec323754e" target="_blank">
                                        <br />
                                        <span>View <span class="fa fa-hand-o-left"></span></span>
                                    </a>
                                    <hr />
                                    <span style="color:deeppink;font-weight:bold;"><p>ஏற்காடு மலையாளி இனக்குழு மரபில் கணியான்</p><strong><span style="color:#0000ff;">Abstract in English : ROLE OF KANIYANS IN THE YERCAUD TRIBAL CULTURE</span></strong></span><br />
                                    <span style="color:royalblue;">செ. சுபாஷ்</span><br />
                                    <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/6716d78c-c498-404e-8eff-258905411d40" target="_blank">
                                        <br />
                                        <span>View <span class="fa fa-hand-o-left"></span></span>
                                    </a>
                                    <hr />
                                    <span style="color:deeppink;font-weight:bold;"><p>குட்டி ஜப்பானில் (சிவகாசியில்) தோன்றிய புதிய இலக்கிய வடிவம் &lsquo;டுவிட்டூ&rsquo;</p><p><strong><span style="color:#0000ff;">Abstract in English : TWITOO &ndash; A RECENT GENRE IN TAMIL LITERATURE</span></strong></p></span><br />
                                    <span style="color:royalblue;">கந்தகப்பூக்கள் ஸ்ரீபதி</span><br />
                                    <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/a1e77e63-21c8-4b3a-9fd1-a8bf2dcb1eed" target="_blank">
                                        <br />
                                        <span>View <span class="fa fa-hand-o-left"></span></span>
                                    </a>
                                    <hr />
                                    <span style="color:deeppink;font-weight:bold;"><p>சிக்காட்டம் - கலையும் கலைஞனும்</p><strong><span style="color:#0000ff;">Abstract in English : SIKATTAM &ndash; THE ART AND THE ARTIST</span></strong></span><br />
                                    <span style="color:royalblue;">பா. உமா மகேஸ்வரி</span><br />
                                    <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/3ff48463-d62c-4582-bd86-d31c1dcfe67f" target="_blank">
                                        <br />
                                        <span>View <span class="fa fa-hand-o-left"></span></span>
                                    </a>
                                    <hr />
                                    <span style="color:deeppink;font-weight:bold;"><p>சிலப்பதிகாரத்தில் இதயநோய் - ஒரு மருத்துவ அறிவியல் பார்வை</p><strong><span style="color:#0000ff;">Abstract in English : HEART DISEASE IN SILAPTHIKARAM &ndash; A SCIENTIFIC APPROACH</span></strong></span><br />
                                    <span style="color:royalblue;">ந. அருள்மொழி</span><br />
                                    <a href="https://lvfiles.blob.core.windows.net/67-static/JournalImage/8c27bb63-a2ed-42e2-800f-ed28b41650c0" target="_blank">
                                        <br />
                                        <span>View <span class="fa fa-hand-o-left"></span></span>
                                    </a>
                                    <hr />


                            <h4>Give us Feedback about the Articles to : </h4>
                            <p style="font-weight:bold;color:blue;">tamilaaivuchudar@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
